
@inject ApiClient apiClient
@inject StateContainer stateContainer
@inject DialogService dialogService

<RadzenCard Style="margin-bottom: 20px;">
    <RadzenTextBox Placeholder="Name" @bind-Value=@Team.Name />
</RadzenCard>
<div class="row">
    <div class="col-md-12">
        <RadzenButton Click="@((args) => this.dialogService.Close(true))" Text="Save" Style="margin-bottom: 10px; width: 150px" />
        <RadzenButton Click="@((args) => this.dialogService.Close(false))" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
    </div>
</div>

@code {

    [Parameter] public Team Team { get; set; }

    protected override void OnInitialized()
    {
        //...
    }
}
